<nav class="navbar navbar-static-top">
  <div class="container">
    <navbar-header>
    <a class="navbar-brand" href="<%= root_path %>">Let'sTalk</a>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <a href="<%= user_events_path(current_user) %>"><i class="fa fa-calendar fa-lg"></i> My Event</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <% if current_user.avatar? %>
              <img class="img-circle img-avatar" src="<%= current_user.avatar.small.url %>" alt="">
            <% else %>
              <i class="fa fa-user fa-lg"></i>
            <% end %>
            <%= current_user.full_name %>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %><li>
        <li><%= link_to "Sign in", new_user_session_path %><li>
      <% end %>
  </div>
</nav>
