<a class="list-group-item" href="<%= user_event_path(event.owner, event) %>">
  <div class="list-group-item-content">
    <div class="list-group-item-heading">
      <b><%= event.topic %>
    </div>
    <div class="text-muted">
      <% if event.owner.avatar? %>
        <img class="img-circle img-avatar" src="<%= event.owner.avatar.small.url %>" alt="">
      <% else %>
        <i class="fa fa-user fa-lg"></i>
      <% end %>
      <b><%= event.owner.full_name %></b>
      .
      <%= time_ago_in_words(event.created_at) %> ago
    </div>
  </div>
</a>
