<a class="list-group-item" href="<%= user_event_path(event.owner, event) %>">
  <div class="list-group-item-content">
    <div class="list-group-item-heading">
      <b><%= event.topic %>
    </div>
    <div class="text-muted">
      <img class="img-circle img-avatar" src="<%= event.owner.avatar.small.url %>" alt="">
      <b><%= event.owner.full_name %></b>
      .
      <%= time_ago_in_words(event.created_at) %> ago
    </div>
  </div>
</a>
