<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel">
          <div class="panel-heading">
            <h1 class="panel-title"><%= @event.topic %></h1>
            <h1 class="panel-title">Start at: <%= @event.due_at.strftime("%B %d, %Y %I:%M%p") %></h1>
            <% if @event.owner == current_user %>
            <% else %>
              <%= link_to "I want to join", "#", class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="panel-body">
            <div class="list-group list-group-campo">
              <div class="list-group-item-content">
                <div class="list-group-item-heading">
                  <div class="text-muted">
                    <img class="img-circle img-avatar" src="<%= @event.owner.avatar.small.url %>" alt="">
                    <b><%= @event.owner.full_name %></b>
                    .
                    <%= time_ago_in_words(@event.created_at) %> ago
                  </div>
                </div>
                <hr>
                <article>
                  <%= @event.agenda %>
                </article>
              </div>
            </div>
          </div>
        </div>

        <div>
          <%= link_to 'Back', user_events_path(current_user), class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-md-3">
        <%= render "users/inviting_form" %>
        <%= render "users/participants" %>
      </div>
    </div>
  </div>
</div>

