<!DOCTYPE html>
<html>
<head>
  <title>Letstalk</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "share/navbar" %>
<% if user_signed_in? && !current_user.confirmed? %>
  <%= render "share/user_confirm_required" %>
<% end %>
<%= yield %>

</body>
</html>
